<nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='home'>Home</a>
        </li>
        <li class="nav-item ">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='routes'>View Routes</a>
        </li>
        <li *ngIf="this.authService.isLoggedIn()" class="nav-item ">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='profile'>Profile</a>
        </li>
        <li *ngIf="this.authService.isLoggedIn()" class="nav-item ">
                <a [routerLinkActive]='activeClass' class="nav-link" routerLink='my-trips'>My Trips</a>
            </li>
    </ul>
    <div class="navbar-nav ml-auto btn-group" role="group">
        <button *ngIf="!this.authService.isLoggedIn()" class="nav-item mr-1" mat-flat-button color="secondary" (click)="openLoginDialog()">Log In</button>
        <button *ngIf="!this.authService.isLoggedIn()" class="nav-item" mat-flat-button color="primary" (click)="openSignupDialog()">Sign Up</button>
        <button *ngIf="this.authService.isLoggedIn()" class="nav-item" mat-flat-button color="secondary" (click)="logout()">Log Out</button>
    </div>
</nav>
