<h5 mat-dialog-title>Sign Up</h5>
<div mat-dialog-content>
  <form [formGroup]="signupForm">
    <fieldset>
      <mat-form-field class="w-100">
        <input matInput placeholder="First name" name="firstname" formControlName="firstname" required>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="Last name" name="lastname" formControlName="lastname" required>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="Email" name="email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Password" name="password" formControlName="password" required>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput type="password" placeholder="Confirm password" name="password2" formControlName="password2" required>
      </mat-form-field>
    </fieldset>
  </form>
</div>
<div mat-dialog-actions class="btn-group d-flex" role="group">
  <button class="w-100 mr-1" mat-button (click)="onCancel()">Cancel</button>
  <button class="w-100" mat-flat-button (click)="onSubmit()" color="primary">Submit</button>
</div>

