.panel {
  min-width: 500px;
}

.routes { 
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
    -webkit-column-count:2 !important; -webkit-column-gap: 1rem !important;
    -moz-column-count:2 !important; -moz-column-gap: 1rem !important;
    -o-column-count:2 !important; -o-column-gap: 1rem !important;
    column-count:2 !important; column-gap: 1rem !important;
    list-style-position: inside !important;
}

.routes .route {
    border-top: 2px #F00 solid;
    width: 100%;
    background-color: rgba(60, 60, 60, .8);
    margin-bottom: 1rem;
    -webkit-column-break-inside: avoid !important;
    page-break-inside: avoid !important;
    break-inside: avoid !important;
    display: inline-block;
}

.routes .route .panel-heading {
    padding: 0px;
}

.routes .route:first-of-type {
    margin-top: 0px;
}

.routes .route:last-of-type {
    margin-bottom: 0px;
}

.route #routeimg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0px;
    padding: 0px;
}
.routes .panel-heading {
    padding: 5px;
}

.routes p { 
    padding: 2px; 
    font-style: normal; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    color: #eee !important;    
    margin-bottom: 1rem;
}

.routes select{
    display: block;
    padding: 2px; 
    font-style: normal; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    color: #eee !important; 
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    background-color: #000;
    padding: 10px;
}

.routes .dests {
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #FFF solid;
    margin-bottom: 5px;
    font-size: 2em !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.route:hover .dests {
    width: 70%;
    margin-left: 15%;
    border-bottom: 1px #F00 solid;
}

.routes .desc {
    margin: .5rem;
    background-color: #000;
    padding: 10px;
}

mat-form-field {
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}

.routes .btn {
    padding: 2px;
    cursor: pointer;
    font-style: normal; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    border-radius: 0px;
    background-color: #F00;
    width: 100%;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #FFF;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.routes .btn:active {
    background-color: #900;
    transform: translateY(2px);
}

.routes .btn:hover {
    background-color: #900;
    color: white;
}

.routes .btn .disable {
    opacity: .6;
    cursor: not-allowed;
}

.routes span#upcoming {
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.route-times li{
    width: auto;
    list-style: none;
}
